openwis-metadataportal/openwis-portal-client/src/wsdl/dataservice/UserAlarmService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserAlarmManagerImplService" targetNamespace="http://useralarms.dataservice.openwis.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://useralarms.dataservice.openwis.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://useralarms.dataservice.openwis.org/" schemaLocation="UserAlarmService_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="raiseUserAlarmResponse">
    <wsdl:part name="parameters" element="tns:raiseUserAlarmResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeUserAlarmResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeUserAlarmResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="raiseUserAlarm">
    <wsdl:part name="parameters" element="tns:raiseUserAlarm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAllAlarmsForUserAndReferenceTypeResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeAllAlarmsForUserAndReferenceTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsForUser">
    <wsdl:part name="parameters" element="tns:acknowledgeAlarmsForUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAllAlarmsForUserAndReferenceType">
    <wsdl:part name="parameters" element="tns:acknowledgeAllAlarmsForUserAndReferenceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUserAlarmsResponse">
    <wsdl:part name="parameters" element="tns:countUserAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeUserAlarm">
    <wsdl:part name="parameters" element="tns:acknowledgeUserAlarm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsForUserResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeAlarmsForUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAlarms">
    <wsdl:part name="parameters" element="tns:getUserAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAlarmsResponse">
    <wsdl:part name="parameters" element="tns:getUserAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUserAlarms">
    <wsdl:part name="parameters" element="tns:countUserAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserAlarmManagerWebService">
    <wsdl:operation name="raiseUserAlarm">
      <wsdl:input name="raiseUserAlarm" message="tns:raiseUserAlarm">
    </wsdl:input>
      <wsdl:output name="raiseUserAlarmResponse" message="tns:raiseUserAlarmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAlarmsForUser">
      <wsdl:input name="acknowledgeAlarmsForUser" message="tns:acknowledgeAlarmsForUser">
    </wsdl:input>
      <wsdl:output name="acknowledgeAlarmsForUserResponse" message="tns:acknowledgeAlarmsForUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeUserAlarm">
      <wsdl:input name="acknowledgeUserAlarm" message="tns:acknowledgeUserAlarm">
    </wsdl:input>
      <wsdl:output name="acknowledgeUserAlarmResponse" message="tns:acknowledgeUserAlarmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUserAlarms">
      <wsdl:input name="countUserAlarms" message="tns:countUserAlarms">
    </wsdl:input>
      <wsdl:output name="countUserAlarmsResponse" message="tns:countUserAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAlarms">
      <wsdl:input name="getUserAlarms" message="tns:getUserAlarms">
    </wsdl:input>
      <wsdl:output name="getUserAlarmsResponse" message="tns:getUserAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAllAlarmsForUserAndReferenceType">
      <wsdl:input name="acknowledgeAllAlarmsForUserAndReferenceType" message="tns:acknowledgeAllAlarmsForUserAndReferenceType">
    </wsdl:input>
      <wsdl:output name="acknowledgeAllAlarmsForUserAndReferenceTypeResponse" message="tns:acknowledgeAllAlarmsForUserAndReferenceTypeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAlarmManagerImplServiceSoapBinding" type="tns:UserAlarmManagerWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="raiseUserAlarm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="raiseUserAlarm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="raiseUserAlarmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAlarmsForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeAlarmsForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeAlarmsForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeUserAlarm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeUserAlarm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeUserAlarmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUserAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countUserAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countUserAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAllAlarmsForUserAndReferenceType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeAllAlarmsForUserAndReferenceType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeAllAlarmsForUserAndReferenceTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAlarmManagerImplService">
    <wsdl:port name="UserAlarmManagerWebServicePort" binding="tns:UserAlarmManagerImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/UserAlarmManagerWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
