openwis-metadataportal/openwis-portal-client/src/wsdl/dataservice/UserAlarmService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserAlarmManagerImplService" targetNamespace="http://useralarms.dataservice.openwis.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://useralarms.dataservice.openwis.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://useralarms.dataservice.openwis.org/" schemaLocation="UserAlarmService_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="raiseUserAlarmResponse">
    <wsdl:part name="parameters" element="tns:raiseUserAlarmResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeUserAlarmResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeUserAlarmResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="raiseUserAlarm">
    <wsdl:part name="parameters" element="tns:raiseUserAlarm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsForUser">
    <wsdl:part name="parameters" element="tns:acknowledgeAlarmsForUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAllAlarmsForUser">
    <wsdl:part name="parameters" element="tns:acknowledgeAllAlarmsForUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeUserAlarm">
    <wsdl:part name="parameters" element="tns:acknowledgeUserAlarm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAlarmsForUserAndReferenceTypeResponse">
    <wsdl:part name="parameters" element="tns:getUserAlarmsForUserAndReferenceTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsForUserResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeAlarmsForUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAlarmsForUserAndReferenceType">
    <wsdl:part name="parameters" element="tns:getUserAlarmsForUserAndReferenceType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAllAlarmsForUserResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeAllAlarmsForUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserAlarmManagerWebService">
    <wsdl:operation name="acknowledgeAllAlarmsForUser">
      <wsdl:input name="acknowledgeAllAlarmsForUser" message="tns:acknowledgeAllAlarmsForUser">
    </wsdl:input>
      <wsdl:output name="acknowledgeAllAlarmsForUserResponse" message="tns:acknowledgeAllAlarmsForUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiseUserAlarm">
      <wsdl:input name="raiseUserAlarm" message="tns:raiseUserAlarm">
    </wsdl:input>
      <wsdl:output name="raiseUserAlarmResponse" message="tns:raiseUserAlarmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAlarmsForUser">
      <wsdl:input name="acknowledgeAlarmsForUser" message="tns:acknowledgeAlarmsForUser">
    </wsdl:input>
      <wsdl:output name="acknowledgeAlarmsForUserResponse" message="tns:acknowledgeAlarmsForUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeUserAlarm">
      <wsdl:input name="acknowledgeUserAlarm" message="tns:acknowledgeUserAlarm">
    </wsdl:input>
      <wsdl:output name="acknowledgeUserAlarmResponse" message="tns:acknowledgeUserAlarmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAlarmsForUserAndReferenceType">
      <wsdl:input name="getUserAlarmsForUserAndReferenceType" message="tns:getUserAlarmsForUserAndReferenceType">
    </wsdl:input>
      <wsdl:output name="getUserAlarmsForUserAndReferenceTypeResponse" message="tns:getUserAlarmsForUserAndReferenceTypeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAlarmManagerImplServiceSoapBinding" type="tns:UserAlarmManagerWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="acknowledgeAllAlarmsForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeAllAlarmsForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeAllAlarmsForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiseUserAlarm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="raiseUserAlarm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="raiseUserAlarmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAlarmsForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeAlarmsForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeAlarmsForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeUserAlarm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeUserAlarm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeUserAlarmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAlarmsForUserAndReferenceType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserAlarmsForUserAndReferenceType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserAlarmsForUserAndReferenceTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAlarmManagerImplService">
    <wsdl:port name="UserAlarmManagerWebServicePort" binding="tns:UserAlarmManagerImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/UserAlarmManagerWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
