openwis-metadataportal/openwis-portal-client/src/wsdl/dataservice/UserAlarmService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserAlarmManagerWebService" targetNamespace="http://dataservice.openwis.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://dataservice.openwis.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://dataservice.openwis.org/" schemaLocation="UserAlarmService_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="deleteAlarmsOfRequest">
    <wsdl:part name="parameters" element="tns:deleteAlarmsOfRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlarms">
    <wsdl:part name="parameters" element="tns:deleteAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAlarms">
    <wsdl:part name="parameters" element="tns:getUserAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportOnUserAlarms">
    <wsdl:part name="parameters" element="tns:reportOnUserAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlarmsOfUser">
    <wsdl:part name="parameters" element="tns:deleteAlarmsOfUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsForUserResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeAlarmsForUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAllAlarmsForUserAndRequestTypeResponse">
    <wsdl:part name="parameters" element="tns:acknowledgeAllAlarmsForUserAndRequestTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="raiseUserAlarm">
    <wsdl:part name="parameters" element="tns:raiseUserAlarm">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportOnUserAlarmsResponse">
    <wsdl:part name="parameters" element="tns:reportOnUserAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="raiseUserAlarmResponse">
    <wsdl:part name="parameters" element="tns:raiseUserAlarmResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDistinctNumberOfUsersWithUserAlarms">
    <wsdl:part name="parameters" element="tns:getDistinctNumberOfUsersWithUserAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAllAlarms">
    <wsdl:part name="parameters" element="tns:deleteAllAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUserAlarms">
    <wsdl:part name="parameters" element="tns:countUserAlarms">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserAlarmsResponse">
    <wsdl:part name="parameters" element="tns:getUserAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUserAlarmsResponse">
    <wsdl:part name="parameters" element="tns:countUserAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDistinctNumberOfUsersWithUserAlarmsResponse">
    <wsdl:part name="parameters" element="tns:getDistinctNumberOfUsersWithUserAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlarmsOfUserResponse">
    <wsdl:part name="parameters" element="tns:deleteAlarmsOfUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlarmsOfRequestResponse">
    <wsdl:part name="parameters" element="tns:deleteAlarmsOfRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAlarmsForUser">
    <wsdl:part name="parameters" element="tns:acknowledgeAlarmsForUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acknowledgeAllAlarmsForUserAndRequestType">
    <wsdl:part name="parameters" element="tns:acknowledgeAllAlarmsForUserAndRequestType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAllAlarmsResponse">
    <wsdl:part name="parameters" element="tns:deleteAllAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAlarmsResponse">
    <wsdl:part name="parameters" element="tns:deleteAlarmsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserAlarmManagerWebService">
    <wsdl:operation name="deleteAlarms">
      <wsdl:input name="deleteAlarms" message="tns:deleteAlarms">
    </wsdl:input>
      <wsdl:output name="deleteAlarmsResponse" message="tns:deleteAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistinctNumberOfUsersWithUserAlarms">
      <wsdl:input name="getDistinctNumberOfUsersWithUserAlarms" message="tns:getDistinctNumberOfUsersWithUserAlarms">
    </wsdl:input>
      <wsdl:output name="getDistinctNumberOfUsersWithUserAlarmsResponse" message="tns:getDistinctNumberOfUsersWithUserAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlarmsOfRequest">
      <wsdl:input name="deleteAlarmsOfRequest" message="tns:deleteAlarmsOfRequest">
    </wsdl:input>
      <wsdl:output name="deleteAlarmsOfRequestResponse" message="tns:deleteAlarmsOfRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiseUserAlarm">
      <wsdl:input name="raiseUserAlarm" message="tns:raiseUserAlarm">
    </wsdl:input>
      <wsdl:output name="raiseUserAlarmResponse" message="tns:raiseUserAlarmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportOnUserAlarms">
      <wsdl:input name="reportOnUserAlarms" message="tns:reportOnUserAlarms">
    </wsdl:input>
      <wsdl:output name="reportOnUserAlarmsResponse" message="tns:reportOnUserAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAlarmsForUser">
      <wsdl:input name="acknowledgeAlarmsForUser" message="tns:acknowledgeAlarmsForUser">
    </wsdl:input>
      <wsdl:output name="acknowledgeAlarmsForUserResponse" message="tns:acknowledgeAlarmsForUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAlarms">
      <wsdl:input name="getUserAlarms" message="tns:getUserAlarms">
    </wsdl:input>
      <wsdl:output name="getUserAlarmsResponse" message="tns:getUserAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllAlarms">
      <wsdl:input name="deleteAllAlarms" message="tns:deleteAllAlarms">
    </wsdl:input>
      <wsdl:output name="deleteAllAlarmsResponse" message="tns:deleteAllAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAllAlarmsForUserAndRequestType">
      <wsdl:input name="acknowledgeAllAlarmsForUserAndRequestType" message="tns:acknowledgeAllAlarmsForUserAndRequestType">
    </wsdl:input>
      <wsdl:output name="acknowledgeAllAlarmsForUserAndRequestTypeResponse" message="tns:acknowledgeAllAlarmsForUserAndRequestTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUserAlarms">
      <wsdl:input name="countUserAlarms" message="tns:countUserAlarms">
    </wsdl:input>
      <wsdl:output name="countUserAlarmsResponse" message="tns:countUserAlarmsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlarmsOfUser">
      <wsdl:input name="deleteAlarmsOfUser" message="tns:deleteAlarmsOfUser">
    </wsdl:input>
      <wsdl:output name="deleteAlarmsOfUserResponse" message="tns:deleteAlarmsOfUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAlarmManagerWebServiceSoapBinding" type="tns:UserAlarmManagerWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlarmsOfRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAlarmsOfRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAlarmsOfRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistinctNumberOfUsersWithUserAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDistinctNumberOfUsersWithUserAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDistinctNumberOfUsersWithUserAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="raiseUserAlarm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="raiseUserAlarm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="raiseUserAlarmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportOnUserAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reportOnUserAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportOnUserAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAlarmsForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeAlarmsForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeAlarmsForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUserAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAllAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAllAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acknowledgeAllAlarmsForUserAndRequestType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="acknowledgeAllAlarmsForUserAndRequestType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acknowledgeAllAlarmsForUserAndRequestTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUserAlarms">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countUserAlarms">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countUserAlarmsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlarmsOfUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteAlarmsOfUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAlarmsOfUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAlarmManagerWebService">
    <wsdl:port name="UserAlarmManagerWebServicePort" binding="tns:UserAlarmManagerWebServiceSoapBinding">
      <soap:address location="http://localhost:9090/UserAlarmManagerWebServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
