openwis-harness/openwis-harness-localdatasource/src/wsdl/LocalDataSourceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://localdatasource.harness.openwis.org/" name="LocalDataSourceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localdatasource.harness.openwis.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://localdatasource.harness.openwis.org/" schemaLocation="LocalDataSourceService.xsd"/>
    </xsd:schema>
  </types>
  <message name="extract">
    <part name="parameters" element="tns:extract"/>
  </message>
  <message name="extractResponse">
    <part name="parameters" element="tns:extractResponse"/>
  </message>
  <message name="getAvailability">
    <part name="parameters" element="tns:getAvailability"/>
  </message>
  <message name="getAvailabilityResponse">
    <part name="parameters" element="tns:getAvailabilityResponse"/>
  </message>
  <message name="monitorExtraction">
    <part name="parameters" element="tns:monitorExtraction"/>
  </message>
  <message name="monitorExtractionResponse">
    <part name="parameters" element="tns:monitorExtractionResponse"/>
  </message>
  <portType name="LocalDataSource">
    <operation name="extract">
      <input message="tns:extract"/>
      <output message="tns:extractResponse"/>
    </operation>
    <operation name="getAvailability">
      <input message="tns:getAvailability"/>
      <output message="tns:getAvailabilityResponse"/>
    </operation>
    <operation name="monitorExtraction">
      <input message="tns:monitorExtraction"/>
      <output message="tns:monitorExtractionResponse"/>
    </operation>
  </portType>
  <binding name="LocalDataSourcePortBinding" type="tns:LocalDataSource">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="extract">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="monitorExtraction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LocalDataSourceService">
    <port name="LocalDataSourcePort" binding="tns:LocalDataSourcePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

