openwis-harness/openwis-harness-subselectionparameters/src/wsdl/DynamicParametersService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://subselectionparameters.harness.openwis.org/"
	name="DynamicParametersService" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://subselectionparameters.harness.openwis.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://subselectionparameters.harness.openwis.org/"
				schemaLocation="SubSelectionParametersService.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://subselectionparameters.harness.openwis.org/">


			<xsd:simpleType name="ModeType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="DYNAMIC"></xsd:enumeration>
					<xsd:enumeration value="STATIC"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="getMode" type="tns:getMode">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="productMetadataURN" type="xsd:string"
							minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getModeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="tns:ModeType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getNextSubSelectionParameterForRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="productMetadataURN" type="xsd:string"
							minOccurs="0" />
						<xsd:element name="lang" type="xsd:string" minOccurs="0" />
						<xsd:element name="parametersList" type="tns:parameter"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getNextSubSelectionParameterForRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="tns:abstractParameter" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:element name="getNextSubSelectionParameterForSubscription">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="productMetadataURN" type="xsd:string"
							minOccurs="0" />
						<xsd:element name="lang" type="xsd:string" minOccurs="0" />
						<xsd:element name="parametersList" type="tns:parameter"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getNextSubSelectionParameterForSubscriptionResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="tns:abstractParameter" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:simpleType name="EndParameterCode">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SUCCESS"></xsd:enumeration>
					<xsd:enumeration value="FAILURE"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="parameter">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" minOccurs="0" />
					<xsd:element name="values" type="xsd:string" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>
	<message name="getSubSelectionParametersForRequest">
		<part name="parameters" element="tns:getSubSelectionParametersForRequest" />
	</message>
	<message name="getSubSelectionParametersForRequestResponse">
		<part name="parameters" element="tns:getSubSelectionParametersForRequestResponse" />
	</message>
	<message name="getSubSelectionParametersForSubscription">
		<part name="parameters" element="tns:getSubSelectionParametersForSubscription" />
	</message>
	<message name="getSubSelectionParametersForSubscriptionResponse">
		<part name="parameters" element="tns:getSubSelectionParametersForSubscriptionResponse" />
	</message>
	<message name="getMode">
		<part name="parameters" element="tns:getMode"></part>
	</message>
	<message name="getModeResponse">
		<part name="parameters" element="tns:getModeResponse"></part>
	</message>
	<message name="getNextSubSelectionParameterForRequest">
		<part name="parameters" element="tns:getNextSubSelectionParameterForRequest"></part>
	</message>
	<message name="getNextSubSelectionParameterForRequestResponse">
		<part name="parameters" element="tns:getNextSubSelectionParameterForRequestResponse"></part>
	</message>
	<message name="getNextSubSelectionParameterForSubscription">
		<part name="parameters" element="tns:getNextSubSelectionParameterForSubscription"></part>
	</message>
	<message name="getNextSubSelectionParameterForSubscriptionResponse">
		<part name="parameters"
			element="tns:getNextSubSelectionParameterForSubscriptionResponse"></part>
	</message>
	<portType name="DynamicParameters">
		<operation name="getSubSelectionParametersForRequest">
			<input message="tns:getSubSelectionParametersForRequest" />
			<output message="tns:getSubSelectionParametersForRequestResponse" />
		</operation>
		<operation name="getSubSelectionParametersForSubscription">
			<input message="tns:getSubSelectionParametersForSubscription" />
			<output message="tns:getSubSelectionParametersForSubscriptionResponse" />
		</operation>
		<operation name="getMode">
			<input name="getMode" message="tns:getMode"></input>
			<output name="getModeResponse" message="tns:getModeResponse"></output>
		</operation>
		<operation name="getNextSubSelectionParameterForRequest">
			<input message="tns:getNextSubSelectionParameterForRequest"></input>
			<output message="tns:getNextSubSelectionParameterForRequestResponse"></output>
		</operation>
		<operation name="getNextSubSelectionParameterForSubscription">
			<input message="tns:getNextSubSelectionParameterForSubscription"></input>
			<output message="tns:getNextSubSelectionParameterForSubscriptionResponse"></output>
		</operation>
	</portType>
	<binding name="DynamicParametersPortBinding" type="tns:DynamicParameters">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getSubSelectionParametersForRequest">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSubSelectionParametersForSubscription">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getMode">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getNextSubSelectionParameterForRequest">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getNextSubSelectionParameterForSubscription">
			<soap:operation soapAction="" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="DynamicParametersService">
		<port name="DynamicParametersPort" binding="tns:DynamicParametersPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
</definitions>

